body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #d1d0d0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #353535;
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    color: #353535;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 14px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4b8cff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #1d68c7;
  }
  